.navbar {
    background-color: $color-darker;
    grid-column: whole-start / whole-end;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    color: $heading-color;
    
}

.logo {
    height: 7rem;
    border-radius: 50%;
    opacity: 0.9;
}


a {
    text-decoration: none;
    position: relative;
    color: $heading-color;
}

li {
    padding: 2.5rem;
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: .75rem;
    font-size: 1.5rem;
    
}

/*HOVER*/

a::before {
    content: '';
    position: absolute;
    width: 160%;
    height: .2rem;
    border-radius: 5px;
    background-color: $heading-color;
    bottom: .1rem;
    left: -1.8rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*CHECKBOX!!!!!!!!!!!!!*/

input[type=checkbox] {
    display: none;
}

/*HAMBURGER*/
.hamburger {
    display: none;
    font-size: 3.2rem;
    user-select: none;
}


/*MEDIA QUERIES*/

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: $color-darker;
        right: 0;
        left: 0;
        text-align: center;
        padding: 1rem 0;
        z-index: 200;
    }

    .menu li:hover {
        display: inline-block;
        background-color: $color-darker;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: .75rem;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .logo {
        height: 5.2rem;
        z-index: 300;
    }
}
   
 
   





